<div class="columns-2 viewmode-combined grid-start grid-row-r d-flex flex-wrap row">
    <div class="col-12 col-lg-6">
        <div class="category-listing card">
            <div class="card-header">
                <h3>{{#str}} category, local_catalogue {{/str}}</h3>
            </div>
            <div class="card-body">
                <div id="catalogue-loading-icon" class="text-center my-4">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>
                <div id="category-container" class="category-listing hide"></div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6">
        <div class="course-listing card">
            <div id="course-loading-icon" class="text-center my-4">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
            <div id="course-container" class="course-listing hide"></div>
        </div>
    </div>
</div>